[submodule "include/DungeonTemplateLibrary"]
	path = include/DungeonTemplateLibrary
	url = https://github.com/AsPJT/DungeonTemplateLibrary.git
[submodule "include/godot-cpp"]
	path = include/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
